@import "tailwindcss";

@import "@fontsource/montserrat/400.css";
@import "@fontsource/montserrat/500.css";
@import "@fontsource/montserrat/600.css";
@import "@fontsource/montserrat/700.css";


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-image: radial-gradient(rgb(60, 47, 226) 40%, rgb(29, 29, 29) 120%);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
