---
import "@/styles/global.css";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
const {
  title = "Luminarte Projects",
  description = "",
  noindex = false,
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    {noindex && <meta name="robots" content="noindex, nofollow" />}

    <!-- <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script> -->
    <script type="module" src="/vendor/model-viewer.min.js"></script>
  </head>
  <body class="min-w-80">
    <Header />
    <main class="text-white m-5 mx-5 justify-center">
      <slot />
    </main>
    <Footer full={false} />
  </body>
</html>
